.mainbody
{
position:absolute;
Left:35%;
top:20%;
display:none;
height:250px;
width:500px;
margin-top: 0;
border:1px solid #fff;
box-shadow:0px 2px 7px #292929;
-moz-box-shadow: 0px 2px 7px #292929;
-webkit-box-shadow: 0px 2px 7px #292929;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
background-color:#ffffff;
z-index:50;
}

div.center { text-align: center; }

p.center{

font-family:"helvetica", "ariel", "verdana", sans-serif;
}

.header
{
    height: 30px;
    border-bottom: 1px solid #EEE;
    background-color: #ffffff;
    height: 40px;
    width: 490px;
    padding: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}



.footer
{
width:500px;
text-align: center;
background-color: whiteSmoke;
border-top: 1px solid #DDD;
-webkit-border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;            
}



#box
{
font-family:"helvetica", "ariel", "verdana", sans-serif;
text-align: center;
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
-moz-box-shadow: 10px 8px 15px #000000;
-webkit-box-shadow: 10px 8px 15px #000000;
box-shadow: 10px 8px 15px #000000;


}

#newBox
{
font-family:"helvetica", "ariel", "verdana", sans-serif;
-moz-box-shadow: 10px 20px 15px #CCCCCC;
-webkit-box-shadow: 10px 20px 15px #CCCCCC;
box-shadow: 10px 20px 15px #CCCCCC;
border:3px solid grey;
background-color:white;
padding:0px;
margin:30px;
height:auto;
overflow:auto;
width:500px;

}

.inputtext
{
height:100px;
width:460px;
resize:none;
}

.homebuttons
{
font-family:"helvetica", "ariel", "verdana", sans-serif;
}

.title
{
margin:10px;
float:left;
font-weight:bold;
font-size:120%;
}

.message
{
margin:10px;
float:left;
text-align:left;
}


.replies
{
margin:10px;
float:right;

}

#newBox2
{

border:5px;
background-color:#ff9C00;
padding:0px;

height:100%;



}

#newBox3
{

border:5px;
background-color:#ff9C00;
padding:0px;

height:50px;



}